# Database
MONGODB_URI=mongodb://root:password@localhost:27017
MONGO_DB_NAME=qrtable

# Environment
NODE_ENV=development
PORT=3300
INVOICE_PORT=3001
PRODUCT_PORT=3002
USER_ACCESS_PORT=3003
AUTHORIZER_PORT=3004
CATALOG_PORT=3005
SAAS_PORT=3006

GLOBAL_PREFIX=api/v1
INVOICE_SERVICE_HOST=localhost
PRODUCT_SERVICE_HOST=localhost
AUTHORIZER_SERVICE_HOST=localhost
USER_ACCESS_SERVICE_HOST=localhost
CATALOG_SERVICE_HOST=localhost
SAAS_SERVICE_HOST=localhost

TCP_INVOICE_SERVICE_PORT=3201
TCP_PRODUCT_SERVICE_PORT=3202
TCP_AUTHORIZER_SERVICE_PORT=3204
TCP_USER_ACCESS_SERVICE_PORT=3203
TCP_CATALOG_SERVICE_PORT=3205
TCP_SAAS_SERVICE_PORT=3206

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=1800000

# Keycloak
KEYCLOAK_HOST=http://localhost:8180
KEYCLOAK_REALM=qrtable
KEYCLOAK_CLIENT_ID=qrtable-bff
KEYCLOAK_CLIENT_SECRET=your_client_secret_here

